body {
    font-family: 'Sansita', sans-serif;
}

/*.titre 
{ color: $purple; }


.sous-titre {
  color: $yellow-300;
  background-color: $indigo-900;
}*/

h3 {
    font-size: 17px;
    color: rgb(30, 240, 135);
    margin-bottom: 30px;
    font-family: 'Sansita', sans-serif;
}


