body {
    font-family: 'Sansita', sans-serif;
}

h1 {
    font-size: 24px;
    color: rgb(63, 63, 63);
    margin-bottom: 30px;
    font-family: 'Sansita', sans-serif;
}

h3 {
    font-size: 17px;
    color: rgb(116, 116, 116);
    margin-bottom: 30px;
    font-family: 'Sansita', sans-serif;
}