body {
    background-color: red;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sansita', sans-serif;
}

h1 {
    font-size: 24px;
    color: rgb(63, 63, 63);
    margin-bottom: 30px;
}

h3 {
    font-size: 17px;
    color: rgb(116, 116, 116);
    margin-bottom: 30px;
}

.titre {
    font-size: 24px;
    color: rgb(63, 63, 63);
    margin-bottom: 30px;
}

.retour-site {
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 2, 2, 15, 1;
    color: rgba(230, 230, 230, 0.959);
    outline: none;
    border: none;
    cursor: pointer;
}