.btnPopup {
    background-color: rgb(255, 179, 66);
    padding: 1em 2em;
    cursor: pointer;
}

.btnPopup:hover {
     background-color: rgb(192, 192, 192)
}

.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(233, 233, 233, 0.952);
    width: 45%;
    height: 45%;
    z-index:1;
    display:none;
}

.popup {
    margin: 10% auto;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
        
        
.btnClose {
    float: right;
    font-size:16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
}        

