body {
    font-family: 'Sansita', sans-serif;
}

h1 {
    color: rgb(80, 80, 80);
}


h3 {
    color: rgb(130, 131, 130);
    margin-bottom: 30px;
    font-family: 'Sansita', sans-serif;
}

.btn {
    box-shadow: 3px 1px 3px 3px 2em rgba(83, 83, 83, 0.445);
}

.diagonale {
    position: absolute;
}

.wysiwyg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto

}

.tox-edit-area {
    opacity: 0.8 !important
}

.creation-btn-publier {
    display: flex;
    justify-content: center;
}

.creation-titre {
    text-align: center;
}

.creation-elements {
    margin-left: auto;
    margin-right: auto;
}