<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

</head>

<body>
    <h1> Créer un article</h1>

    <form enctype='multipart/form-data' action='/creation' method='POST'>
        <textarea id="mytextarea">Hello, World!</textarea>

        <input type="text" placeholder="Titre de l'article" name="title" value="Titre" />
        <input type="text" placeholder="Description" name="description" value="Description" />
        <input type="text" placeholder="Corps de l'article" name="article" value="Article" />
         <!--  insérer un champs pour catégoriser et associer couleur au thème-->
        <input type="number" name="price" value="10" />
        <input type="file" name='image' />

        <input type="file" name='image' />
        <button type="submit">PUBLIER</button>


    </form>

</body>