 <body>
   
 <button type="btn">
        <a href="/">
            RETOUR SUR LE SITE
        </a>
    </button>

<h1>Administrateur</h1>


<form action="/auth/login" method="POST">
  Identifiant : <input type="email" placeholder="Email" name="email" />
  Mot de passe : <input type="password" placeholder="Password" name="password" />
  <button type="submit">Se connecter</button>
</form>

</body>