<button type="btn">RETOUR SUR LE SITE</button>

<h1>Administrateur</h1>


<form action="/auth/login" method="POST">
  Identifiant : <input type="text" placeholder="Username" name="username" />
  Mot de passe : <input type="password" placeholder="Password" name="password" />
  <button type="submit">Se connecter</button>
</form>