<body>

<div class="container"></div>
  <div class="row justify-content-md-center">
    <button type="btn" class="btn btn-outline-primary">
      <a href="/">
        RETOUR SUR LE SITE
      </a>
    </button>
  </div>

  <div class="row justify-content-md-center">
    <h1>Inspirenews.fr</h1>
  </div>

  <div class="row justify-content-md-center">
    <form action="/auth/login" method="POST">
      Identifiant : <input type="email" placeholder="Email" name="email" />
      Mot de passe : <input type="password" placeholder="Password" name="password" />
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
  </div>
</div>
</body>