<body>
               <svg class="diagonale" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 800">
    <path fill="#72adf0b4" fill-opacity="1" d="M0,100L1440,400L1440,800L0,800Z"></path></svg>

<div class="container"></div>


  <div class="boutonRetour">
    <button type="btn" class="btn btn-outline-primary">
      <a href="/">
        RETOUR SUR LE SITE
      </a>
    </button>
  </div>
  <div>

  </div>
  <div class="row justify-content-md-center titrelog">
    <h1>InspireNews.fr</h1>
  </div>

  <div class=" formlog">
    <form action="/auth/login" method="POST">
      Identifiant : <input type="email" placeholder="Email" name="email" class="espace" />
      Mot de passe : <input type="password" placeholder="Password" name="password"/>
      <button type="submit" class="btn btn-primary ">Se connecter</button>
    </form>
  </div>
            
</div>
</body>