<head>
      <link rel="stylsheet" href="../../public/css/signup.css">

</head>

<body>

<h1>{{title}}</h1>

<h1>Signup</h1>
<form action='/auth/signup' method='POST'>
  <input type="email" placeholder="Email" name="email" value="aida@outlook.fr" />
  <input type="password" placeholder="Password" name="password">
  <input type="password" placeholder="Confirm password" name="confirm_password">
  <button type="submit">Submit</button>
</form>


</body>